<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>

<body>
    {{>nav}}

    <div class="app">

        <img src="{{imgKrakow}}" alt="">

        {{!-- <h3> Weather in Krakow</h3> --}}

        <section>
            <h4>It is currently {{krkTemp}} &#8451; in Krakow, Poland</h4>
            <h4>Sunrise: {{krkSunrise}} Sunset: {{krkSunset}}</h4>
            <img class="weatherImage" src="{{krkIconPic}}" alt="" />
            <h4> {{krkInfo}} </h4>
            <h4>{{krkDaily}}</h4>
        </section>
        <table>
            <tr>
                <th>Tomorrow</th>
                <th>{{datePlus2}}</th>
                <th>{{datePlus3}}</th>
                <th>{{datePlus4}}</th>
                <th>{{datePlus5}}</th>
                <th>{{datePlus6}}</th>
                <th>{{datePlus7}}</th>

            </tr>
            <tr>
                <th>{{krkTmrw}}&#8451;</th>
                <th>{{krkPlus2}}&#8451;</th>
                <th>{{krkPlus3}}&#8451;</th>
                <th>{{krkPlus4}}&#8451;</th>
                <th>{{krkPlus5}}&#8451;</th>
                <th>{{krkPlus6}}&#8451; </th>
                <th>{{krkPlus7}}&#8451; </th>
            </tr>
            {{!-- <tr>
                <th>Tomorrow</th>
                <th>+2 days</th>
                <th>+3 days</th>
                <th>+4 days</th>
                <th>+5 days</th>
                <th>+6 days </th>
                <th>+7 days </th>
            </tr> --}}

        </table>

    </div>

</body>

</html>