<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>

<body>
    {{>nav}}

    <div class="app">

        <img src="{{imgKrakow}}" alt="">

        {{!-- <h3> Weather in Krakow</h3> --}}

        <section>
            <h4>It is currently {{krkTemp}} &#8451; in Krakow, Poland</h4>
            <h4>Sunrise: {{krkSunrise}} Sunset: {{krkSunset}}</h4>
            <img class="weatherImage" src="{{krkIconPic}}" alt="" />
            <h4>{{krkDaily}}</h4>
        </section>
        <table>
            <tr>
                {{#each mapDay}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
            <tr>
                {{#each dayTempList}}
                <th>{{this}}&#8451;</th>
                {{/each}}
            </tr>



        </table>

    </div>

</body>

</html>