<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>

<body>
    {{>nav}}

    <div class="app">

        <img src="{{imgKrakow}}" class="krakow" alt="">
        {{!-- <section>
            <h4>It is currently {{krkTemp}} &#8451; in Krakow, Poland</h4>
            <h4>Sunrise: {{krkSunrise}} Sunset: {{krkSunset}}</h4>
            <h4>{{krkDaily}}</h4>
            <h4> </h4>
        </section> --}}
        <table>
            <thead>
                <tr>
                    <th colspan="8">7 day forecast</th>
                </tr>
            </thead>

            <tr>
                {{#each mapDay}}
                <th>{{this}}</th>
                {{/each}}
            </tr>
            <tr>
                {{#each dayTempList}}
                <th>{{this}}&#8451;</th>
                {{/each}}
            </tr>
            <tr>
                {{#each  imgDaily}}
                <th><img src={{this}} class="weatherImage" alt="icon"> </th>
                {{/each}}
            </tr>
            <tr>
                {{#each  dailyDesc}}
                <th class="descripion">{{this}} </th>
                {{/each}}
            </tr>

        </table>

    </div>

</body>

</html>